.title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2e2e2e;
}

#root {
    -fx-background-color: #f2f2f2;
}

.text-field, .password-field {
    -fx-pref-width: 200px;
}

.button {
    -fx-background-color: #336699;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
